@inherits ItemBase

<div class="row border-bottom py-4">
    <div class="col-sm">
        <div class="media">
            <img src="/images/test-image.jpg" altText="@Details.Name" 
                 class="mr-3"  alt="Smart Speaker"/>
            <div class="media-body">
                <h3>@Details.Name</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        @Details.Price
    </div>
</div>